
.footer {
    background: rgba(242, 124, 15, 0.3);
    width: 770px;
    font-size: 17px;
  
    margin: auto;
    bottom: 0;
    /* width: 100%; */
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
  .footer ul {
    font-size: 16px;
    list-style-type: none;
  }
  .footer ul li {
    display: inline;
    margin-left: 30px;
  }
  .footer a {
    color:rgba(0, 0, 0, 0.5);
  
    text-decoration: none;
  }
  .footerLeft {
    display: flex;
    align-items: center;
  } 